* {
	margin: 0px; 
	padding: 0px; 
	font-family: 'Ubuntu' , sans-serif; 
	background:orange;  
}
.div1 {
	margin-top: 5px; 
	width: 300px; 
	height: 98%; 
	background: transparent; 
	position: absolute; left: 37%;
	border: 1px solid white; 
	border-radius: 10px; 

}
.input1 {
	width: 100%; 
	padding-left: 10px; 
	height: 30px; 
	background:white;
	border: 1px solid white;   
	font-size: 18px; 
	font-weight: 10px; 
	border-radius: 10px; 

	box-sizing: border-box;
	margin-top: 30px;   
}
ul{
	list-style: none; 
   background: transparent; 
   overflow-x: auto;  
	margin-top: 70px; 
}
li{
	background: transparent; 
	padding-left: 15px; 
	margin-top: 10px; 
}

.button1 {
	width: 100px; 
	height: 40px; 
	position: absolute; left: 31%; 
	background: orange; 
	font-size: 20px;
	color: white; 
	border: 1px solid white ;
	border-radius: 10px; 
	margin-top: 10px; 

}